@use "../base/variables" as v;
@use "../base/mixins" as m;

* {
    margin: 0;
    padding: 0;
}

.backToPrincipal {
    padding-bottom: 20px;
}

.backToPrincipal a {
    color: white;
    font-size: 2rem;

    transition: all 0.3s ease-in-out;
}

.backToPrincipal a:hover {
    color: v.$blue;
    font-size: 2.1rem;
}

.contain-container {
    position: relative;
    left: 30px;
}

.contain-info {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .contain-title {
        height: 55px;
        padding: 5px 0 5px 20px;
        border-radius: 8px;
        background-color: v.$gray;
    
        display: flex;
        justify-content: space-between;
    }
    
    .contain-game {
        height: 625px;
        background-color: v.$black;
        border-radius: 8px;
    }

    .display-game {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 625px;
    }

    .info p {
        color: white;
        margin-bottom: 50px;
    }
}

