@use "../base/variables" as v;
@use "../base/mixins" as m;

.container {
  margin-left: 215px;
  padding-top: 25px;
}

.principal-games h3, .container h3 {
  margin-left: 20px;
  padding-top: 10px;
}

.principal-games .container {
  padding-top: 0;
}

.container img {
  background-size: cover;
  transition: all 0.1s ease-in-out;
  border-radius: 8px;
}
.container img:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 2px 2px 6px black;
}

.row {
  margin-bottom: 20px;
}

.w-games {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  scrollbar-width: thin;
  scrollbar-color: v.$purple v.$fondo;
  height: auto;
  transition: transform 0.2s ease-in-out;

  h5 {
    display: block;
    text-transform: capitalize;
    text-wrap: wrap;
    padding: 5px;
    text-align: center;

    transition: all 0.3s ease-in-out;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    max-width: 100%;
    border-radius: 8px;
  }
}

.w-games::-webkit-scrollbar {
  height: 4px;
}

.w-games::-webkit-scrollbar {
  height: 4px;
}

.w-games::-webkit-scrollbar-track {
  background: v.$fondo;
  border-radius: 10px;
}

.w-games::-webkit-scrollbar-thumb {
  background: v.$purple;
  border-radius: 10px;
}

.w-games::-webkit-scrollbar-thumb:hover {
  background: v.$blue;
}


.see-more {
  font-family: v.$fuente_principal;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, transparent, v.$purple 60%);
  padding: 15px;
  height: auto;
  max-height: 200px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  max-width: 200px;
  text-wrap: wrap;
  text-align: center;

  transition: all 0.3s ease-in-out;
}

.see-more:hover {
  transform: scale(1.05);
}

.link {
  color: v.$yellow;
}

@include m.desktop {
  nav > a > img {
    width: 150px;
    height: 150px;
  }
// ESPACIOS VACIOS NO GUSTAN
  .container {
    max-width: 80%;
    // overflow-x: hidden;

    row {
      gap: 5px;
    }
  }
}

// TODO: Add a MOBILE VERSION
@include m.telefono {
  nav > a > img {
    width: 100px;
    height: 100px;
  }

  .container {
    max-width: 50%;

    row {
      gap: 10px;
    }
  }
}
// COMPU CHICA 1000px aprox