// Tipografía:
$fuente_principal: 'Inter', sans-serif;

// Colores:
$yellow: #FFD700;
$green: #32CD32;
$blue: #00BFFF;
$purple: #8A2BE2;
$gray: #575757;
$black: #000000;
$red: #e74c3c;

$fondo: #020014;
